<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Akhbar24 Test Suite" verbose="1">

    <test name="All Feature Tests">
        <classes>
            <class name="com.akhbar24.tests.LaunchAppTest"/>
            <class name="com.akhbar24.tests.LoginTest"/>
            <class name="com.akhbar24.tests.LogoutTest"/>
            <class name="com.akhbar24.tests.ContactUsTest"/>
            <class name="com.akhbar24.tests.VideoSectionTest"/>
            <class name="com.akhbar24.tests.OpenArticleTest"/>
            <class name="com.akhbar24.tests.SearchTest"/>
            <class name="com.akhbar24.tests.TemperatureTest"/>
            <class name="com.akhbar24.tests.AddToFavoritesTest"/>


        </classes>
    </test>

</suite>
